/* ======== ESTILO GERAL ======== */
body {
  background-color: #0e0e0e;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}
header {
  position: relative;
  top:0;
  left:0;
  width: 100%;
  padding: 20px 100px;
  background: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
 }
/* ======== TÍTULOS ======== */
h1 {
  text-align: center;
  font-size: 2.5rem;
  margin-top: 50px;
  margin-bottom: 10px;
  color: #ffffff;
}

h2 {
  color: #ffffff;
  font-size: 2.5rem;
  margin: 25px 0 15px 0;
}

h3 {
  color: #ffffff;
  font-size: 2.5rem;
  margin: 20px 0 10px 0;
}

/* ======== SEÇÕES ======== */
section {
  background-color: #1a1a1a;
  border-radius: 10px;
  padding: 2%;
  width: 80%;
  max-width: 700px;
  margin: 50px auto;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.05);
}

/* ======== TEXTAREAS ======== */
textarea {
  width: 100%;
  height: 100px;
  background-color: #0f0f0f;
  color: white;
  border: 1px solid #333;
  border-radius: 8px;
  padding: 10px;
  font-size: 15px;
  resize: none;
  outline: none;
}

textarea::placeholder {
  color: #777;
}

/* ======== BOTÕES ======== */
button {
  background-color: #222;
  color: white;
  border: 1px solid #444;
  border-radius: 8px;
  padding: 10px 20px;
  cursor: pointer;
  margin-top: 10px;
  font-size: 15px;
  transition: 0.2s ease-in-out;
}

button:hover {
  background-color: #333;
  border-color: #666;
}

/* ======== RESPONSIVIDADE ======== */
@media (max-width: 600px) {
  section {
    width: 90%;
  }
  
  h1 {
    font-size: 2rem;
    color: #ffffff;
    text-align: center;
  }
  
  h2 {
    font-size: 2rem;
    color: #ffffff;
  }
  
  h3 {
    font-size: 2rem;
    color: #ffffff;
  }
}
